/* BorderPanel */

.pnl-Border {
  background-color: white;
  border-radius: 2px;
  margin-bottom: 20px;
}

.pnl-Border-hd {
  border-bottom: 1px solid #ccc;
  padding: 6px @border-padding;
}

.pnl-Border-bd {
  /* Contain contact info that's floated right */
  /* Hrm, this hides dropdown menus on data table tools columns */
  /* overflow: hidden; */
}

.pnl-Border--padded .pnl-Border-bd {
  padding: @border-padding;
}

.pnl-Border-ft {
  padding: 6px @border-padding;
}

.pnl-Border-left {
  float: left;
}

.pnl-Border-right {
  float: right;
}

.pnl-Border-title {
  font-size: @font-size-lg;
}
