/* DataTable */

.pnl-DataTable {
    width: 100%;
}

.pnl-DataTable th,
.pnl-DataTable td {
    border-top: 1px solid #f0f0f0;
    padding: 6px;
}

.pnl-DataTable th {
    border-top: 1px solid #f0f0f0;
    text-align: left;
}

.pnl-DataTable th a {
    color: #333;
    text-decoration: none;
}

