/* DataTable */

.pnl-DataTable-table {
    width: 100%;
}

.pnl-DataTable th {
    padding: 6px @h-padding;
    text-align: left;
}

.pnl-DataTable td {
    border-top: 1px solid #f0f0f0;
    padding: 6px @h-padding;
}

.pnl-DataTable th a {
    color: #333;
    text-decoration: none;
}

.pnl-DataTable .pnl-DataTable-actionsColumn {
  padding: 0;
  white-space: nowrap;
  width: 1px; /* using zero works on FF but not Chrome */
}

/* Toolbars */

.pnl-ToolbarPanel {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 5px 0;
}

.pnl-ToolbarPanel:after {
  content: " ";
  display: table;
  clear: both;
}

.pnl-ToolbarPanel-left {
  float: left;
}

.pnl-ToolbarPanel-leftItem {
  /* if left as inline, WebKit renders these a little too wide, at least when we tried with inline-block children */
  display: inline-block;

  padding-left: @h-padding;
  vertical-align: middle;
}

.pnl-ToolbarPanel-right {
  float: right;
}

.pnl-ToolbarPanel-rightItem {
  /* if left as inline, WebKit renders these a little too wide, at least when we tried with inline-block children */
  display: inline-block;

  padding-right: @h-padding;
  vertical-align: middle;
}


/* Sorting links */

a.wicket_orderNone:after {
  content: '\f0dc';
  font-family: FontAwesome;
  font-size: 10px;
  padding-left: 3px;
  color: #ccc;
}

a.wicket_orderUp:after {
  content: '\f0de';
  font-family: FontAwesome;
  font-size: 10px;
  padding-left: 3px;
}

a.wicket_orderDown:after {
  content: '\f0dd';
  font-family: FontAwesome;
  font-size: 10px;
  padding-left: 3px;
}

