
body {
  background-color: @background-color;
  color: @color;
  font-size: @font-size;
}

a {
  color: @link-color;
  text-decoration: none;
}

.control {
  color: @color;
  box-sizing: border-box;
  font-size: @font-size;
  //height: @control-height;
  //line-height: @control-height;
  padding: @control-v-padding 6px;
  display: inline-block;
  vertical-align: middle;
}

select, input[type="text"], input[type="password"], input[type="file"], textarea {
  .control;
  background-color: white;
  border: 1px solid #ccc;
}

.required:after {
  content: "*";
  margin: 0 3px;
  color: #b94a48;
}

textarea {
  font-family: inherit;
  font-size: @font-size;
  width: 100%;
}

