
@color: #555;
@background-color: #fff;

/* Base font size for the page.
 *
 * This is set as the font-size on the body element.
 * Other elements are calculated based on this value.
 *
 */
@font-size: 13px;

@font-size-lg: 16px;

@hilite-color: #08c;

@link-color: @hilite-color;


/* Vertical margins between vertically stacked objects
 */

@v-margin: 10px;

/* Horizontal padding within borders, table cells
 * We keep this consistent to vertically align, for example,
 * border headers with nested tables
 */
@h-padding: 10px;

/* Controls are buttons and inputs with a single line of text.
 */

@control-v-padding: 4px;
@control-v-border: 1px;
@control-height: @font-size + 2 * @control-v-padding + 2 * @control-v-border;

/* Drop down menus
 */
@menu-bg: #fff;
@menu-fg: #08c;
@menu-disabled-bg: #fff;
@menu-disabled-fg: #bbb;
@menu-hover-bg: #f8f8f8;
@menu-hover-fg: #005f8f;

@border-v-padding: 10px;

/*
 * Feedback panel
 */
@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

